[DEFAULT]
ignoreip = 127.0.0.1/8 ::1 192.168.1.0/24 10.0.0.0/8
    # netcup ips
    89.58.26.118  2a03:4000:62:ce0:2496:aeff:fe97:dea4
    # linode ips
    {{ lke_frankfurt_ipv4_addresses | join(" ") }} {{ lke_frankfurt_ipv6_addresses | join(" ") }}

bantime = 24h
maxretry = 3
findtime = 2h
banaction = nftables
banaction_allports = nftables[type=allports]

[sshd]
mode = aggressive
backend=systemd

{% if "mail" in group_names %}
[postfix]
enabled = true
bantime = 1d
backend = systemd

[postfix-submission]
filter = postfix
port = submission
enabled = true
bantime = 1d
backend = systemd

[postfix-errors]
filter = postfix[mode=errors]
enabled = true
maxretry = 3
bantime = 7d
backend = systemd

[postfix-sasl]
filter = postfix[mode=auth]
enabled = true
maxretry = 3
bantime = 1d
backend = systemd
{% endif %}
