# Server name to identify to others with in genreated reports
AuthservID {{ opendmarc_authserv_id }}

# Copy failed messages to this address for investigation
CopyFailuresTo {{ opendmarc_failures }}

# Generate failure reports
FailureReports true
FailureReportsBcc {{ opendmarc_failure_reports }}
FailureReportsOnNone true
FailureReportsSentBy {{ opendmarc_failure_reports_from }}

HistoryFile /var/spool/opendmarc/opendmarc.dat
IgnoreAuthenticatedClients true

# If needed in future
# IgnoreHosts /etc/opendmarc/ignore.hosts

RejectFailures true
ReportCommand /usr/sbin/sendmail -t
RequiredHeaders true
Socket inet:8893@localhost
SoftwareHeader true
SPFIgnoreResults false
TrustedAuthservIDs HOSTNAME
PidFile /run/opendmarc/opendmarc.pid

PublicSuffixList /usr/share/publicsuffix/public_suffix_list.dat

TrustedAuthservIDs HOSTNAME

UMask 0002
UserID opendmarc
