# {{ ansible_managed }}

[Unit]
Description=DKIM Milter
# Documentation=man:dkim-milter(8) man:dkim-milter.conf(5)
After=network-online.target nss-lookup.target
Wants=network-online.target

[Service]
User=dkim-milter
ExecStart=/usr/local/sbin/dkim-milter
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

# schizophrenia
ProtectSystem=full

[Install]
WantedBy=multi-user.target

# vim: ft=dosini.jinja2:
