[submodule "hugodocs/themes/hugo-book"]
	path = olddocs/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "ansible/roles/nftables"]
	path = ansible/roles/nftables
	url = git@github.com:jchristgit/ansible-role-nftables.git
[submodule "ansible/roles/prometheus-postgres-exporter"]
	path = ansible/roles/prometheus-postgres-exporter
	url = git@github.com:jchristgit/ansible-role-prometheus-postgres-exporter.git
