repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        description: This hook runs ansible-lint within our project's environment.
        entry: ansible-lint
        language: system
        pass_filenames: false
        always_run: true
        require_serial: true
