[defaults]
remote_user=root
vault_password_file = ./vault_passwords
nocows = 1
library       = ./library/:./kubespray/library/
roles_path    = ./roles/:./kubespray/roles/

[privilege_escalation]
become = yes

[connection]
pipelining = True
