- hosts: all
  roles:
    - common
  tags:
    - common

- hosts: all
  roles:
    - jumpcloud
  tags:
    - jumpcloud

- hosts: all
  roles:
    - ufw
  tags:
    - ufw

- hosts: all
  roles:
    - wireguard
  tags:
    - wireguard
