# Ansible Managed

server_host = {{ postfix_bind_server }}
bind = yes
bind_dn = {{ postfix_bind_user }}
bind_pw = {{ postfix_bind_password }}
search_base = {{ postfix_bind_search_base }}
query_filter = (&(mail=%u@int.pydis.wtf)(mail=%s))
domain = {{ postfix_destination_domains | join(', ') }}
result_attribute = uid
result_format = %s@localhost
version = 3
