# Ansible Managed

server_host = {{ postfix_bind_server }}
bind = yes
bind_dn = {{ postfix_bind_user }}
bind_pw = {{ postfix_bind_password }}
search_base = {{ postfix_bind_search_base }}
query_filter = (mail=%u@{{ postfix_mailname }})
result_attribute = registeredAddress
result_format = %s
version = 3
