apiVersion: v1
kind: ConfigMap
metadata:
  name: blackbox-config
  namespace: databases
data:
  blackbox.yaml: |
    databases:
      mongodb:
        main_mongodb:
          connection_string: mongodb://{{ MONGO_INITDB_ROOT_USERNAME }}:{{ MONGO_INITDB_ROOT_PASSWORD }}@mongodb.default.svc.cluster.local:27017
      postgres:
        main_postgres:
          username: {{ POSTGRES_USER }}
          password: {{ POSTGRES_PASSWORD }}
          host: postgres.default.svc.cluster.local
          port: "5432"
      redis:
        main_redis:
          password: {{ REDIS_PASSWORD }}
          host: redis.databases.svc.cluster.local
          port: "6379"

    storage:
      s3:
        frankfurt_s3:
          bucket: blackbox
          endpoint: eu-central-1.linodeobjects.com
          aws_access_key_id: {{ AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: {{ AWS_SECRET_ACCESS_KEY }}
        newark_s3:
          bucket: blackbox
          endpoint: us-east-1.linodeobjects.com
          aws_access_key_id: {{ AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: {{ AWS_SECRET_ACCESS_KEY }}
        singapore_s3:
          bucket: blackbox
          endpoint: ap-south-1.linodeobjects.com
          aws_access_key_id: {{ AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: {{ AWS_SECRET_ACCESS_KEY }}


    notifiers:
      discord:
        dev_ops:
          webhook: {{ DEVOPS_WEBHOOK }}

    retention_days: 7
