# Ansible Managed

smtpd_banner = $myhostname ESMTP $mail_name (Debian/GNU)
biff = no

append_dot_mydomain = no

# Warn on delivery delays greater than 4 hours
delay_warning_time = 4h

readme_directory = no

compatibility_level = 3.6

smtpd_tls_cert_file=/etc/letsencrypt/live/pydis.wtf/fullchain.pem
smtpd_tls_key_file=/etc/letsencrypt/live/pydis.wtf/privkey.pem

# Configure TLS in high security mode, via https://mecsa.jrc.ec.europa.eu/en/postfix:
# - mails must be sent via TLS, optionally with DANE, and STARTTLS offer logged
# - mails must be received via TLS
# - authentication must be performed via TLS
smtp_tls_security_level = dane
smtp_dns_support_level = dnssec
smtp_tls_note_starttls_offer = yes
smtpd_tls_security_level = encrypt
smtpd_tls_auth_only = yes

smtpd_relay_restrictions =
                         permit_mynetworks,
                         permit_sasl_authenticated,
                         reject_unauth_destination,
                         reject_unauth_pipelining,
                         check_policy_service unix:private/policyd-spf,

smtpd_milters = inet:localhost:8891,inet:localhost:8893
non_smtpd_milters = $smtpd_milters

myorigin = /etc/mailname
myhostname = mail.pydis.wtf

policyd-spf_time_limit = 3600

sender_canonical_maps = tcp:localhost:10001
sender_canonical_classes = envelope_sender
recipient_canonical_maps = tcp:localhost:10002
recipient_canonical_classes = envelope_recipient,header_recipient

virtual_alias_maps =
    ldap:/etc/postfix/ldap-registeredaddress.cf,
    ldap:/etc/postfix/ldap-uid.cf,
    ldap:/etc/postfix/ldap-group-aliases.cf,
    hash:/etc/postfix/virtual

relay_recipient_maps =
    ldap:/etc/postfix/ldap-relay-recipients.cf,
    ldap:/etc/postfix/ldap-group-aliases.cf,
    hash:/etc/postfix/virtual

mydestination = mail.pydis.wtf, pydis.wtf, localhost
relayhost =
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = all

# Basic anti-abuse ratelimits.
# The time window is specified with anvil_rate_time_unit,
# which defaults to 60 seconds.
smtpd_client_auth_rate_limit = 1000
smtpd_client_connection_rate_limit = 1000
smtpd_client_message_rate_limit = 1000
smtpd_client_new_tls_session_rate_limit = 1000
smtpd_client_recipient_rate_limit = 100
# Sleep for $smtpd_error_sleep_time (default 1s) after getting 1 junk command.
smtpd_junk_command_limit = 1
# One error counts $smtpd_junk_command_limit junk commands received.
# Once the client has performed enough bullshit, disconnect.
smtpd_hard_error_limit = 10
anvil_rate_time_unit = 24h
anvil_status_update_time = 12h
