# DevOps Aliases
postmaster                     {{ postfix_postmaster_email }}
root                           {{ postfix_postmaster_email }}
webmaster                      {{ postfix_postmaster_email }}
abuse                          {{ postfix_postmaster_email }}
ops                            {{ postfix_postmaster_email }}

# Events Emails
merch-support                  events
streamyard                     events,joe

# Director Emails
owners                         directors
patreon                        directors
donations                      directors
twitter                        directors

# Admins Emails
admins                         administrators
staff                          administrators

# DevOps Admins Emails
cloudflare                     joe,cj
netcup                         joe,cj
linode                         joe,cj
devops-alerts                  jc,joe

# Admin Domain Email
conferences                    stelercus
outreach                       keiththeee

# Custom Aliases - joe

j                              joe
compliance                     joe
legal                          joe
privacy                        joe
gov-projects                   joe
accounts                       joe
pypi                           joe
