# DevOps Aliases
postmaster                     {{ postfix_postmaster_email }}
root                           {{ postfix_postmaster_email }}
webmaster                      {{ postfix_postmaster_email }}
abuse                          {{ postfix_postmaster_email }}
ops                            {{ postfix_postmaster_email }}

# For now, forward DMARC reports to Joe
dmarc                          joe

# Events Emails
merch-support                  events
streamyard                     events

# Director Emails
owners                         directors
patreon                        directors
donations                      directors

# Admins Emails
admins                         administrators
