postmaster@pydis.wtf           {{ postfix_postmaster_email }}
root@pydis.wtf                 {{ postfix_postmaster_email }}
webmaster@pydis.wtf            {{ postfix_postmaster_email }}
abuse@pydis.wtf                {{ postfix_postmaster_email }}

# For now, forward DMARC reports to Joe
dmarc@pydis.wtf                joe
