# We are deploying a replicated single binary (not components)
deploymentMode: SingleBinary

loki:
  # Disable authentication, we are in-cluster
  auth_enabled: false

  # Set replication to 3 replicas
  commonConfig:
    replication_factor: 3

  # We have one schemaConfig, storing data in TSDB format in S3
  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: index_
          period: 24h

  # Storage type is S3 (Minio)
  storage:
    type: s3

  compactor:
    retention_enabled: true
    delete_request_store: s3
    delete_request_cancel_period: 1h
    retention_delete_delay: 5m

  limits_config:
    retention_period: 30d
    # Enable volume querying endpoint (for Grafana Explore Logs)
    volume_enabled: true

singleBinary:
  # Set replicas to 3 again
  replicas: 3
  # Disable any persistence in Loki, all persistence is in S3
  persistence:
    enabled: false
  # Enable the pattern ingester (for Grafana Explore Logs)
  extraArgs:
    - "--pattern-ingester.enabled=true"

  # Add a tmpfs in /var/loki for temporary data storage
  extraVolumes:
    - name: var-loki-tmpfs
      emptyDir:
        medium: Memory
  extraVolumeMounts:
    - name: var-loki-tmpfs
      mountPath: /var/loki

  # Add labels to enable Prometheus scraping of Loki replicas
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "http-metrics"

# Reduce the memory on the memcached cluster (defaults to 8GB)
chunksCache:
  allocatedMemory: 1024

# Scale the scalable replicas to 0 since we deploy single binary
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

# Enable Minio for S3 storage
minio:
  enabled: true

# Enable Prometheus scraping of the Loki Canaries
lokiCanary:
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "http-metrics"
