---
- name: Install prometheus
  package:
    name: prometheus
    state: present
  tags:
    - role::prometheus

- name: Configure prometheus command line options
  lineinfile:
    path: /etc/default/prometheus
    regexp: ^ARGS.*
    line: ARGS="{{ prometheus_cmdline_options }}"
  tags:
    - role::prometheus
  when:
    - prometheus_cmdline_options is defined
  notify:
    - Restart the prometheus service

- name: Configure prometheus
  copy:
    content: |
      # Ansible managed
      {{ prometheus_configuration | to_nice_yaml }}
    dest: /etc/prometheus/prometheus.yml
    owner: prometheus
    group: prometheus
    mode: "0400"
  when: (ansible_play_hosts | sort) == (hostvars | sort)
  tags:
    - role::prometheus
  notify:
    - Reload the prometheus service

- name: Configure prometheus rules
  copy:
    content: |
      # Ansible managed
      {{ prometheus_rules }}
    dest: /etc/prometheus/rules.yml
    owner: prometheus
    group: prometheus
    mode: "0400"
  tags:
    - role::prometheus
  notify:
    - Reload the prometheus service
