// Managed by Ansible

logging {
  level = "info"
}

loki.source.journal "system_journal" {
  format_as_json = true
  forward_to = [loki.write.pydis_gateway.receiver]
}

{% for extra in alloy_extra_files %}

local.file_match "match_{{ extra.name }}" {
  path_targets = [{"__path__" = "{{ extra.path }}"}]
}

loki.source.file "log_{{ extra.name }}" {
  targets = local.file_match.match_{{ extra.name }}.targets
  forward_to = [loki.write.pydis_gateway.receiver]
}

{% endfor %}

loki.write "pydis_gateway" {
  external_labels = {
    hostname = env("HOSTNAME"),
  }
  endpoint {
    url = "{{ alloy_loki_endpoint }}/loki/api/v1/push"
    basic_auth {
      username = "{{ alloy_loki_user }}"
      password = "{{ alloy_loki_password }}"
    }
    headers = {
      "X-Scope-OrgID" = "1",
    }
  }
}
