- name: Deploy common services
  hosts: all
  roles:
    - common
    - pydis-users
    - nftables
    - prometheus-node-exporter
    - wireguard
    - fail2ban
    - podman
    - unattended-upgrades

- name: Deploy our monitoring stack
  hosts: lovelace
  roles:
    - prometheus
    - prometheus-blackbox-exporter

- name: Deploy nginx & certbot to hosts
  hosts: nginx
  roles:
    - certbot
    - nginx
    - nginx-geoip
    - nginx-cloudflare-mtls

- name: Deploy our PostgreSQL database hosts
  hosts: databases
  roles:
    - postgres
