---
# ref https://packages.debian.org/bullseye/amd64/libnginx-mod-http-geoip/filelist
# installed by default in debian nginx package, including "geoip-database" dep
# see https://packages.debian.org/bullseye/amd64/geoip-database/filelist
- name: Configure the geoip module
  copy:
    # ref https://nginx.org/en/docs/http/ngx_http_geoip_module.html
    content: geoip_country /usr/share/GeoIP/GeoIP.dat;
    dest: /etc/nginx/conf.d/geoip.conf
    owner: root
    group: root
    mode: 0444
  tags:
    - role::nginx-geoip
  notify:
    - reload the nginx service
