name: Lint Playbook

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Lint Ansible playbooks
        uses: ansible/ansible-lint-action@master
        with:
          targets: |
            playbook.yml
