name: Add issues and PRs to project

on:
  issues:
    types: [opened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: alex-page/github-project-automation-plus@v0.3.0
        with:
          project: Infrastructure
          column: Todo
          repo-token: ${{ secrets.GITHUB_TOKEN }}
    
